<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcw.user.dao.UserDAO">
<!-- 아이디 중복 확인 -->
	<select id="selectUserByLoginId" parameterType="string" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectUserById" resultType="com.pcw.user.model.User">
		SELECT
			`id`
			, `userId`
			, `userPw`
			, `userName`
			, `userEmail`
			, `userPhoneNumber`
			, `userAddress1`
			, `userAddress2`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId}
	</select>
	
<!-- 로그인 -->
	<select id="selectUserByUserIdAndPassword" resultType="com.pcw.user.model.User">
		SELECT
			`id`
			, `userId`
			, `userPw`
			, `userName`
			, `userEmail`
			, `userPhoneNumber`
			, `userAddress1`
			, `userAddress2`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`userId` = #{userIdOrEmail}
			AND `userPw` = #{userPw}
		OR
			`userEmail` = #{userIdOrEmail}
			AND `userPw` = #{userPw}
	</select>
	
<!-- 회원가입 -->
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`userId`
			, `userPw`
			, `userName`
			, `userEmail`
			, `userPhoneNumber`
			, `userAddress1`
			, `userAddress2`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{userPw}
			, #{userName}
			, #{userEmail}
			, #{userPhoneNumber}
			, #{userAddress1}
			, #{userAddress2}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>