@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	height: 100%
}

li {
    list-style:none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* main page*/

.main-top-header {
	width: 1080px;
    margin: 0 auto;
}

.main-top-header > ul {
	display: flex;
	justify-content: end;
}

.main-top-header > ul > li {
	margin: 5px 0px 0px 15px;
}

.main-top-header > ul > li > a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 1080px;
    margin: 0 auto;
}

.pcw-logo-and-search-box {
	display: flex;
	align-items: center;	
}

.pcw-logo-box {
    margin-right: 30px;
}

.pcw-logo-box > a > img {
	width: 150px;
}

.pcw-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 50px;
    border: 1px solid #764AF1;
    border-radius: 5px;
}

.pcw-search-box > input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px;
}

.pcw-search-box .pcw-search-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    font-size: 25px;
    margin-right: 10px;
    color: #764AF1;
}

.pcw-sub-box {
    display: flex;
}

.pcw-sub-box > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    margin-left: 30px;
    text-decoration: none;
}

.pcw-sub-box > a > i {
    font-size: 35px;
    color: lightgray;
}

.pcw-sub-box > a > i:hover {
	color: #764AF1;
}

.pcw-sub-box > a > span {
	font-size: 12px;
	color: #666;
}

nav {
	z-index: 2;
    margin-top: 25px;
    padding: 9px 0px;
    border-bottom: 0.5px solid lightgray;
}

nav > div {
	display: flex;
	margin: 0 auto;
	width: 1080px;
}

nav > div > .category-btn {
	z-index: 3;
	display: flex;
	align-items: center;
	width: 150px;
	margin-right: 30px;
	border: none;
	background: none;
	outline: none;
	color: #333;
}

nav > div > .category-btn > i {
	font-size: 28px;
	margin-right: 10px;
}

nav > div > .category-btn > span {
	font-weight: bold;
}

.pcw-menu {
	display: flex;
	align-items: center;
	margin: 0px;
}

.pcw-menu > li > a {
    color: #333333;
    display: flex;
	align-items: center;
	font-weight: bold;
	margin-right: 25px;
}

.pcw-contents {
	margin: 0 auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
}

.pcw-content-layout {
    display: flex;
    width: 1080px;
}

.pcw-category-layout {
	top: 189px;
}

.pcw-category-box {
	width: 150px;
	position: absolute;
}

.pcw-category-box > ul {
	position: relative;
	height: 260px;
    background: #764AF1;
    padding: 20px 0px 0px 10px;
    margin: 0;
}

.pcw-category-box > ul > li {
    margin-bottom: 10px;
}

.pcw-category-box > ul > li.active {
	background: white;
	border-radius: 5px 0px 0px 5px;
}

.pcw-category-box > ul > li > a {
	display: flex;
	justify-content: left;
	align-items: center;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    cursor: default;
}

.pcw-category-box > ul > li > a > i {
	margin: 2px 5px 0px 0px;
}
.pcw-category-box > ul > li > a:hover {
	color: #764AF1;
}

.pcw-category-box > ul > li.active > a {
	color: #764AF1;
}

.pcw-category-box ul ul {
	position: absolute;
	z-index: 1;
	left: 150px;
	top: 0;
	min-width: 150px;
	height: 260px;
	display: none;
	background: white;
	padding-top: 20px;
}

.pcw-category-box ul .pcw-category:hover ul {
	display: block;
}

.pcw-category-box ul ul > li {
	padding: 5px 10px;
}

.pcw-category-box ul ul > li > a {
	color: black;
	text-decoration: none;	
	display: flex;
	font-size: 13px;
	padding: 2px 5px;
	
}

.pcw-category-box ul ul > li > a:hover {
	color: #764AF1;
	font-weight: bold;
	background: rgba(118, 74, 241, 0.2);
	border-radius: 5px;
}

.pcw-category > a > .pc {
	border: 1px solid white;
	border-radius: 5px;
	padding: 1px;
	font-size: 2px;
	margin: 2px 5px 0px 0px;
}

.pcw-shopping-info-box {
    display: flex;
    position: relative;
    justify-content: center;
    left: 180px;
	height: 260px;
    flex-direction: column;
}

.pcw-shopping-info-category-box {
    display: flex;
    align-items: center;
    height: 60px;
}

.pcw-shopping-info-category-box > span {
    font-size: 20px;
    font-weight: bold;
}

.pcw-shopping-info-category-box > ul {
    display: flex;
    margin: 0;
}

.pcw-shopping-info-category-box > ul > li {
    margin-left: 20px;
}

.pcw-shopping-info-category-box > ul > li > a {
    color: black;
    font-size: 15px;
}

.pcw-shopping-info-category-box > ul > li.active > a {
	color: #764AF1;
	font-weight: bold;
	text-decoration: solid underline #764AF1 2px;
}


.pcw-shopping-item-box {
    width: 100%;
	height: 200px;
}

.pcw-shopping-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.pcw-shopping-item > li {
    display: flex;
    align-items: center;
    height: 88px;
    margin-top: 12px;
}

.pcw-shopping-item > li > div > a {
    display: flex;
    align-items: center;
    height: 88px;
}

.pcw-shopping-item-text-link-box {
    width: 120px;
    height: 60px;
    margin: 0px 10px ;
    display: flex;
    flex-direction: column;
    font-size: 13px;  
}

.pcw-shopping-item-text-link-box > a {
    font-size: 12.5px;
    color: black;
    display: flex;
    align-items: center;
}

.pcw-shopping-item-more-select {
    margin-top: 10px;
}

.pcw-shopping-item-more-select > span {
	color: #666;
}

.pcw-best-seller-title-box {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    
}

.seller-text {
  background: linear-gradient(to top, rgba(118, 74, 241, 0.1) 50%, transparent 50%);
  color: #764AF1;
  margin: 0px 5px;
}

.pcw-main-sub-menu-box {
    width: 80px;
    margin: 0;
}

.pcw-main-sub-menu-box > .pcw-main-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcw-main-sub-menu-box > .pcw-main-sub-menu > li {
    width: 80px;
    border: 1px solid lightgrey;
    margin-bottom: -1px;
    display: flex;
    justify-content: center;
}

.pcw-main-sub-menu > li > a {
    color: black;
    font-size: 13px;
    padding: 10px;
    margin-bottom: -1px;
}

.pcw-best-seller-box {
    border-top: 2px solid #898f97;
    margin-left: 40px;
    width: 1080px;
    height: 506px;
}

.product-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.product-list > li {
    display: flex;
    justify-content: center;
    width: 190px;
}

.product-list > li > a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
} 

.product-list > li >  a > .product-name {
    font-size: 14px;
    color: #666;
}

.product-list > li > a > .product-price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.product-list > li > a > div {
    display: flex;
    justify-content: center;
}

.product-list > li > a > img {
    width: 130px;
}

.product-list > li > a > span {
    text-align: center;
} 

.pcw-best-shoppingmall-box {
    border-top: 1px solid #f2f2f2;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.pcw-best-shoppingmall-box > div {
	margin: 0 auto;
	width: 1080px;
	padding-top: 30px;
}

.pcw-best-shoppingmall-title {
    font-weight: bold;
    font-size: 17px;
}

.pcw-best-shoppingmall-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pcw-best-shoppingmall-list > li {
    width: 97px;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #f2f2f2;
}

footer > span {
    font-size: 11px;
    padding: 10px 0px;
}

/* sign up page */
.login-header {
    width: 600px;
    margin: 0 auto;
    font-family: 'RixYeoljeongdo_Regular';
    padding: 30px 0px 10px 0px;
    display: flex;
    justify-content: flex-start;
}

.pcw-sign-up-logo-box {
	padding: 80px 0px 30px;
} 

.pcw-sign-form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.pcw-sign-form-group > label {
    margin: 15px 0px 5px 0px;
    font-size: 15px;
    color: #666;
}

.pcw-sign-form-group > input { 
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.pcw-sign-form-group > input::placeholder {
	font-size: 14px;
}

.pcw-check-box > span {
	font-size: 13px;
}

.pcw-sign-up-btn {
    width: 600px;
    margin: 15px 0px 5px 0px;
    font-size: 18px;
    font-weight: bold;
}

/* sign in page */
.sign-body {
	background: #f5f5f5;
}

.pcw-sign-info {
	width: 600px;
    margin: 0 auto;
   	background: white;
   	min-height: 100vh;
   	position: absolute;
   	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.pcw-sign-info > div {
	padding: 50px 80px;


		
}

.pcw-sign-logo-box {
	display: flex;
	justify-content: center;
	padding: 160px 0px 30px;
}

.pcw-sign-input-box {
	display: flex;
	flex-direction: column;
	min-height: 500px;
    margin: 15px 0px;
}

.pcw-sign-input-box > input {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.confirm-box {
	margin-top: -10px;
	margin-bottom: 7px;
}

.confirm-text {
	color: red;
	font-size: 13px;
}

.pcw-sign-btn {
	width: 440px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #764AF1;
    color: white;
}

.pcw-sign-btn:focus {
	outline: none;
}

.pcw-find-box {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.pcw-find-box > div > a {
    margin: 0px 10px;
    color: #666;
    font-size: 13px;
}

.sign-footer-box {
	display: flex;
	justify-content: center;
	align-items: end;
	margin-top: 40px;
}

.sign-footer-box > span {
	font-size: 10px;
	color: #666;
}


/* 5페이지 상품 비교 */
.pcw-prod-dsc {
    width: 1080px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pcw-prod-info {
	min-height: 1200px;	
}

.pcw-sub-prod-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 19px 0px 18px;
}

.pcw-sub-prod-dsc {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.pcw-sub-prod-info {
    font-size: 12px;
    color: #919191;
    line-height: 20px;
}

.pcw-interest-btn {
    margin-top: 5px;
    font-size: 12px;
    color: #555;
    margin: 20px;
}

.pcw-lowest-price-info {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.pcw-sub-prod-img {
    width: 400px;
}

.pcw-sub-prod-img-unit {
    width: 400px;
}

.pcw-sub-prod-img-unit > img {
    border: #d2d2d2a4 1px solid;
    margin: 20px 3px;
}

.pcw-sub-prod-img-info {
    color: #919191;
}

.pcw-lowest-price-mall-list {
    width: 600px;
    border-bottom: 1px solid #efefef;
}

.pcw-lowest-price-prod-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #efefef;
    padding: 10px;
}

.pcw-lowest-price {
    font-size: 26px;
    color: #2964e0;
    font-weight: bold;
}

.pcw-lowest-price-btn {
    width: 114px;
    height: 32px;
    text-align: center;
    color: #fff;
    background: #33383e;
    font-size: 13px;
    font-weight: bold;
}

.pcw-add-delivery {
    margin: 15px;
}

.pcw-lowest-price-list {
    display: flex;
    align-items: flex-end;
}

.pcw-lowest-price-mall-delivery {
    color: #919191;
}

.pcw-lowest-price-mall-ip {
    color: #919191;
}

.pcw-price-comparison {
    width: 1080px;
    margin: 0 auto;
}

.pcw-view-by-lowest-price {
    display: flex;
}

.pcw-view-by-lowest-price-btn {
    font-weight: bold;
}

.pcw-view-by-add-delivery {
    margin: 5px;
}

.pcw-view-by-lowest-price-and-mall {
    display: flex;
}

.pcw-view-by-lowest-price-open-market, .pcw-view-by-lowest-price-shopping-mall {
    width: 540px;
    height: 40px;
    background: #f8f8f8;
}

.pcw-open-market, .pcw-shopping-mall {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 0 0 20px;
    border-top: 1px solid #333;
}

.pcw-view-by-mall {
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 10px;
    margin-bottom: 10px;
}

.pcw-view-by-mall-icon {
    margin: 5px;
}

.pcw-view-by-price-info {
    display: flex;
    align-items: flex-end;
}

.pcw-view-by-mall-price {
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
}

.pcw-view-by-mall-price-unit {
    font-size: 15px;
    font-weight: bold;
    margin: 7px 0;
}

.pcw-view-by-mall-delivery {
    color: #666;
    font-size: 13px;
    margin: 7px 0;
}

.pcw-view-by-mall-dsc {
    font-size: 13px;
}

.pcw-view-by-mall-ip {
    font-size: 12px;
    color: #919191;
}

.pcw-buy-btn {
    border-radius: 0%;
    width: 68px;
    height: 26px;
    text-align: center;
    color: #33383e;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #b9bec5;
    background: #fff;
}